body {
    height: 100%;
    width:100%;
    margin:0;
    box-sizing: border-box;
}

html{
    height:100%;
    width:100%;
}

#app {
    height:100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}